/config/

*.log

.DS_Store
Thumbs.db
*.swp
*.txt

nm-fake/target/
nm-fake/Cargo.lock

/.env
/.env.local

*.tar
*.tar.gz
*.tar.zst
*.zip
*.rpm
*.deb

/.idea/
/.vscode/
*.iml
*.ipr
*.iws

*~
\#*\#
.\#*
*.bak
*.tmp


nm-fake/target/